body{
    background: linear-gradient(90deg, hsl(232.5, 37.21%, 1.86%), hsl(232.5, 37.21%, 3.86%)) ;
    margin: 0;
    left: 0;
}
.content-up{
    display: grid;
    align-items: center;
    justify-content: center;

}
.content{
    max-width: 1000px;
    flex-direction: column;
    text-align: justify;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    padding: 1rem;
}
.content i{
    color: hsl(0 0% 70%);
}
.content h1{
    color: hsl(0 0% 80%);
}
.content h2, h3, h4{
    color: hsl(0 0% 78%);
}
.content p{
    color: hsl(0 0% 100%);
}

header{
     font-family: sans-serif;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
}
header div {
    display: flex;
    align-items: center    ;
    justify-content: center;
    flex-direction: row;

}
#header-options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
#header-options p{
    display: flex;

    align-items: center;
    justify-content: center;
}
header h1{
   color: hsl(0 0% 80%);
}
header  p:hover{
    background-color: rgba(255, 255, 255, 0.1);

}
header h2:hover {
    background-color: rgba(255, 255, 255, 0.1);

}
header  h2{
    padding: 1rem;
    border-radius: 1rem;
}
header  p{
    padding: 1rem;
    border-radius: 1rem;
}
header  h2{
    padding: 1rem;
    border-radius: 1rem;
}
header h2{
    color: hsl(0 0% 94%);
    border: solid hsl(0 0% 80%);
    border-width: 0.25px;
}
header p{
    font-weight: bold;
    color: hsl(0 0% 87%);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}
footer div p{
    font-family: sans-serif;
    color: hsl(0 0% 80%);
}

#menu-button{
    display: none;
}

@media screen and (max-width: 768px) {
    #header-options{
        display: none;
    }
    #menu-button{
        display: unset;
    }
    header{
        grid-template-columns: 1fr 1fr;
    }
    header h2{
        padding: 0.5rem;
    }
}
projects{
    font-family: sans-serif;
    display: flex;
    align-items: center;
   flex-basis: 1fr;
   
    color: white;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;

}

docs{
    display: flex;
    align-items: center;
    justify-content: center;

}
docs-sub{
    border: 4px solid rgba(210, 16, 16, 7.594);
    padding: 1rem;
    display: flex;
    justify-content: center;
     background-color: rgba(210, 16, 16, 0.594);
}
hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
projects-sub{
    border-radius: 1rem;
    padding: 1rem;
    height: 200px;
    width: 300px;
    background-color: hsl(232.5, 37.21%, 9.86%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu-down{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: hsl(0 0% 90%);
}
menu{
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    width: 100%;
}