<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haufenet | Portal</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <div>
            <h1>Portal</h1>
        </div>
        <div>
            <p onclick="logoutSession()">Logout</p>
        </div>

    </header>
    <div class="">
    <div id="view-content">

    </div>
    </div>

    <div id="action-terminal">
        <div id="action-terminal-content">
            <h1>Loading ...</h1>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>